<%= setup_context(:title => I18n.t("representation._plural")) %>

<%
  @show_multiselect_column = false

  add_column(I18n.t("representation.rap_expiry_date"),
             proc {|record|
                   if record.fetch('rap_expiry_date_u_sstr', [])[0]
                     (record.fetch('rap_expiry_date_u_sstr', [])[0] + (record.fetch('rap_expired_u_sbool', [])[0] ? ' (expired)' : ''))
                   else
                     ''
                   end
             }, :sortable => true, :sort_by => 'rap_expiry_date_sort_u_ssortdate')

%>

<%

def duration_in_days(duration, units)
    case units
    when :day, :days
        duration
    when :month, :months
        (Date.today.next_month(duration) - Date.today).to_i
    when :year, :years
        (Date.today.next_year(duration) - Date.today).to_i
    end
end
%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>

      <% if @search_data.results? && !Array(@search_data[:criteria]['filter_term[]']).find {|term| JSON.parse(term).keys[0] == 'rap_expiring_within'} %>
        <% [['RAP Expired In Past', -1], ['RAP To Expire Within', 1]].each do |section, multiplier| %>
          <h3><%= section %></h3>
          <ul>
            <% [[multiplier * 30, :days], [multiplier * 60, :days], [multiplier * 90, :days],
                [multiplier * 6, :months],
                [multiplier * 1, :year], [multiplier * 2, :years], [multiplier * 5, :years]].each do |duration, units| %>
              <% days = duration_in_days(duration, units) %>
              <% if days.to_s == params[:expiring_within_days].to_s %>
                <li><%= days %> days <%= link_to("(clear)", build_search_params({})) %></li>
              <% else %>
                <%
                label = "#{duration.abs} #{units}"
                %>
                <li><%= link_to(label, build_search_params({}).merge("filter_term[]" => {"rap_expiring_within" => days}.to_json)) %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>

      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar">
      <div class="btn-group pull-right">
      <%= form_tag({:controller => :representations, :action => :create_batch}.merge(params.select{|k,v| !['controller', 'action'].include?(k)})) do |f| %>
        <button class="btn btn-sm btn-primary"><%= I18n.t("batch._frontend.action.create_from_search") %></button>
      <% end %>

      </div>
      <br style="clear:both" />
    </div>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("representation._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
