<%= setup_context(:title => I18n.t("representation._plural")) %>

<%
  @show_multiselect_column = false

  add_column(I18n.t("representation.rap_expiry_date"),
             proc {|record|
                   (record.fetch('rap_expiry_date_u_sstr', [])[0] +
                    (record.fetch('rap_expired_u_sbool', [])[0] ? ' (expired)' : ''))
             }, :sortable => true, :sort_by => 'rap_expiry_date_sort_u_ssortdate')

%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_accession_record') %>
      <div class="record-toolbar">
        <div class="btn-group pull-right">
          <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv}), id: "searchExport",  class:  "btn btn-sm btn-info" %>
        </div>
        <br style="clear:both" />
      </div>
    <% end %>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("representation._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
