<%= setup_context(:title => I18n.t("representation._plural")) %>

<%
  @show_multiselect_column = false

  add_column(I18n.t("representation.rap_expiry_date"),
             proc {|record|
                   (record.fetch('rap_expiry_date_u_sstr', [])[0] +
                    (record.fetch('rap_expired_u_sbool', [])[0] ? ' (expired)' : ''))
             }, :sortable => true, :sort_by => 'rap_expiry_date_sort_u_ssortdate')

%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>

      <% if @search_data.results? && !Array(@search_data[:criteria]['filter_term[]']).find {|term| JSON.parse(term).keys[0] == 'rap_expiring_within'} %>
        <h3>RAP expiring within</h3>
        <ul>
          <% [30, 60, 90, 180, 365, 730, 1825].each do |days| %>
            <% if days.to_s == params[:expiring_within_days].to_s %>
              <li><%= days %> days <%= link_to("(clear)", build_search_params({})) %></li>
            <% else %>
              <%
              label = "#{days} days"

              if (days / 365) == 1
                label = "#{days / 365} year"
              elsif (days / 365) > 1
                label = "#{days / 365} years"
              end
              %>
              <li><%= link_to(label, build_search_params({}).merge("filter_term[]" => {"rap_expiring_within" => days}.to_json)) %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("representation._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
