<section id="<%= section %>">
  <h3>
    <%= t("managed_registration.sections.#{section}") %>
    <%= t("managed_registration.list.last_number", :number => 20) if section == 'approved' %>
  </h3>

  <% if @list[section].length > 0 %>

    <table class="table table-striped table-bordered table-condensed table-hover table-sortable">
      <col style="width:55%">
      <col style="width:20%">
      <col style="width:25%">
      <thead>
        <tr>
          <th class="col title sortable"><%= t('agent_corporate_entity._singular') %></th>
          <th class="col sortable"><%= t("managed_registration.list.#{section}") %></th>
          <th class="col sortable"><%= t("managed_registration.list.last_action_time") %></th>
        </tr>
      </thead>

      <tbody>
        <% @list[section].each do |agency| %>
          <tr>
            <td>
              <%= link_to agency['title'], {:controller => :agents,
                                            :action => :show,
                                            :agent_type => :agent_corporate_entity,
                                            :id => JSONModel(:agent_corporate_entity).id_for(agency["uri"])} %>
            </td>
            <td><%= section == 'draft' ? agency['last_modified_by'] : agency['registration_last_user'] %></td>
            <td><%= section == 'draft' ? agency['user_mtime'] :agency['registration_last_time'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <%= t("managed_registration.list.no_records") %>
  <% end %>
</section>

