<%= render_aspace_partial :partial => 'shared/archivist_approval_fields', :locals => {:form => form} %>

<% if form.readonly? %>
  <% unless form['significant_representations_counts'].values.all?{|v| v == 0} %>
    <div class="form-group">
      <div class="control-label col-sm-2"><%= I18n.t("resource.significant_representations_counts") %></div>
      <div class="col-sm-9 label-only">
        <% form['significant_representations_counts'].each do |sig, count| %>

          <%= SignificanceHelper.display(sig, count) if count > 0 %>

        <% end %>

        <%= link_to I18n.t("as_runcorn.significant_item.series_button_label"), {:controller => :significant_items, :action => :index, :series_uri => form.obj['uri']}, :class => "label label-default" %>

      </div>
    </div>
  <% end %>
<% end %>

<%= form.label_and_textfield "description" %>
<%= form.label_and_textfield "disposal_class" %>
<%= form.label_and_select "sensitivity_label", form.possible_options_for('sensitivity_label', true) %>
<%= form.label_and_select "copyright_status", form.possible_options_for('copyright_status', true) %>
<%= form.label_and_select "retention_status", form.possible_options_for('retention_status', true) %>
<%= form.label_and_boolean "serialised" %>
<%= form.label_and_date "original_registration_date" %>
<%= form.label_and_textarea "information_sources" %>
<%= form.label_and_textfield "abstract" %>

<% if form.readonly? %>
  <%= form.label_and_readonly "items_count" %>
  <%= form.label_and_readonly "physical_representations_count" %>
  <%= form.label_and_readonly "digital_representations_count" %>
<% end %>
