<%= form.label_and_textarea "description" %>
<%= form.label_and_select "accessioned_status", form.possible_options_for("accessioned_status", true) %>
<%= form.label_and_select "access_clearance_procedure", form.possible_options_for("access_clearance_procedure", true) %>

<%= render_aspace_partial :partial => 'shared/archivist_approval_fields', :locals => {:form => form} %>

<%= form.label_and_textfield "disposal_class" %>
<%= form.label_and_select "sensitivity_label", form.possible_options_for('sensitivity_label', true) %>
<%= form.label_and_textarea "previous_system_identifiers" %>
<%= form.label_and_textfield "agency_assigned_id" %>

<% if form.readonly? %>
  <% if form.obj['significance'] %>
    <div class="form-group">
      <div class="control-label col-sm-2"><%= I18n.t("archival_object.significance") %></div>
      <div class="controls col-sm-10">
        <%= SignificanceHelper.display(form.obj['significance']) %>
        <%= I18n.t('as_runcorn.sticky_significance_message') if form.obj['significance_is_sticky'] %>
      </div>
    </div>
  <% end %>
<% else %>
 <%= form.label_and_select "significance", form.possible_options_for("significance") %>
 <%= form.label_and_boolean "significance_is_sticky" %>
<% end %>

<% if form.readonly? %>
  <% if form['transfer'] %>
    <% tfr = form['transfer'] %>
    <div class="form-group">
      <div class="control-label col-sm-2"><%= I18n.t("archival_object.transfer") %></div>
      <div class="controls token-list col-sm-10">
        <%= render_token :object => tfr['_resolved'],
                           :label => tfr['_resolved']['display_string'],
                           :type => tfr['_resolved']['jsonmodel_type'],
                           :uri => tfr['ref'],
                           :placement => "top" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= form.label_and_select "copyright_status", form.possible_options_for('copyright_status', true) %>
<%= form.label_and_date "original_registration_date" %>
