<% if controller_supports_current_record? && current_record.respond_to?(:registration_state) &&
      controller.action_name == 'show' &&
      current_record.registration_state != 'approved' && user_can?('update_agent_record') %>
  <%= stylesheet_link_tag "#{AppConfig[:frontend_proxy_prefix]}assets/managed_registration.css" %>

  <%= javascript_include_tag 'registration_action_dropdown' %>

  <script>
     REGISTRATION_STATE = '<%=j current_record.registration_state %>';
     REGISTRATION_ACTION_DROPDOWN = $('<%=j render_aspace_partial :partial => "shared/registration_action_dropdown", :locals => {:state => current_record.registration_state} %>');
  </script>
<% end %>

<%= stylesheet_link_tag "#{AppConfig[:frontend_proxy_prefix]}assets/runcorn.css" %>

<script type="text/template" id="browseAgenciesTemplate">
  <li><%= link_to I18n.t("agent_corporate_entity._plural"), {:controller => :agents, :action => :index, :filter_term => ["{\"primary_type\":\"agent_corporate_entity\"}"]} %></li>
</script>

<script type="text/template" id="managedRegistrationButtonTemplate">
  <%= link_to I18n.t("managed_registration.button_label"), {:controller => :managed_registration, :action => :index} %>
</script>

<script type="text/template" id="chargeableItemButtonTemplate">
  <%= link_to I18n.t("chargeable_item.button_label"), {:controller => :chargeable_items, :action => :index} %>
</script>

<script type="text/template" id="chargeableServiceButtonTemplate">
  <%= link_to I18n.t("chargeable_service.button_label"), {:controller => :chargeable_services, :action => :index} %>
</script>

<script type="text/template" id="browseRepresentationsTemplate">
  <li><%= link_to I18n.t("representation._plural"), {:controller => :representations, :action => :index} %></li>
</script>

<script type="text/template" id="browseSignificantItemsTemplate">
  <li class="divider"></li>
  <li><%= link_to I18n.t("as_runcorn.significant_item._plural"), {:controller => :significant_items, :action => :index} %></li>
</script>

<script type="text/template" id="browseItemUsesTemplate">
  <li><%= link_to I18n.t("item_use._plural"), {:controller => :item_uses, :action => :index} %></li>
</script>

<script type="text/template" id="browseConservationRequestTemplate">
  <li class="divider"></li>
  <li><%= link_to I18n.t("conservation_request._plural"), {:controller => :conservation_requests, :action => :index} %></li>
</script>

<script type="text/template" id="createConservationRequestTemplate">
  <% if user_can?('manage_conservation_assessment') %>
    <li class="divider"></li>
    <li><%= link_to I18n.t("conservation_request._singular"), {:controller => :conservation_requests, :action => :new} %></li>
  <% end %>
</script>

<script type="text/template" id="browseTopContainersTemplate">
  <li><%= link_to I18n.t("top_container._plural"), {:controller => :top_containers, :action => :index} %></li>
</script>

<script type="text/template" id="browseBatchesTemplate">
  <li class="divider"></li>
  <li><%= link_to I18n.t("batch._plural"), {:controller => :batches, :action => :index} %></li>
</script>

<script type="text/template" id="createBatchTemplate">
  <li class="divider"></li>
  <li><%= link_to I18n.t("batch._singular"), {:controller => :batches, :action => :new} %></li>
</script>

<script>
    // put link in the System menu
    $(function() {
      var setupButton = function(templ, divider) {
        if (divider) {
          $('.system-menu .dropdown-menu').append($('<li class="divider" />'));
        }
        $but = $(AS.renderTemplate(templ));
        $('.system-menu .dropdown-menu').append($('<li />').append($but));
        $('.system-menu').show();
      };

      setupButton("managedRegistrationButtonTemplate", true);
      <% if user_can?('update_charges') %>
        setupButton("chargeableItemButtonTemplate", true);
        setupButton("chargeableServiceButtonTemplate");
      <% end %>

      // Put agency browse in Repo menu
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu').prepend(AS.renderTemplate("browseAgenciesTemplate"))

      // Put representation browse in Repo menu
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu .divider:first').before(AS.renderTemplate("browseRepresentationsTemplate"))

      // And significant items browse
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu .divider').eq(1).before(AS.renderTemplate("browseSignificantItemsTemplate"))

      // And item uses browse
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu .divider').eq(2).before(AS.renderTemplate("browseItemUsesTemplate"))

      // Conservation requests sit before assessments in browse ... after moving assessments up some
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/assessments"]').parent().detach().insertBefore($('.repository-header .navbar-nav .browse-container > .dropdown-menu .divider').eq(1))
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/assessments"]').parent().before(AS.renderTemplate("browseConservationRequestTemplate"))

      // Add top container link to browse
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/locations"]').parent().before(AS.renderTemplate("browseTopContainersTemplate"))

      // Add batch link to browse
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/locations"]').parent().after(AS.renderTemplate("browseBatchesTemplate"))

      // Add batch link to create
      $('.repository-header .navbar-nav .create-container > .dropdown-menu a[href="/functions/new"]').parent().after(AS.renderTemplate("createBatchTemplate"))

      // And replaces them in create
      $('.repository-header .navbar-nav .create-container > .dropdown-menu a[href="/assessments/new"]').parent().replaceWith(AS.renderTemplate("createConservationRequestTemplate"))

      // Remove unused menu options
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/events"]').parent().remove();
      $('.repository-header .navbar-nav .create-container > .dropdown-menu a[href="/events/new"]').parent().remove();
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/collection_management"]').parent().remove();
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/classifications"]').parent().remove();
      $('.repository-header .navbar-nav .create-container > .dropdown-menu a[href="/classifications/new"]').parent().remove();
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/jobs"]').parent().next().remove();
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu a[href="/jobs"]').parent().remove();
      $('.repository-header .navbar-nav .browse-container > .dropdown-menu .divider:last').remove();

    });
</script>


<%= stylesheet_link_tag "#{AppConfig[:frontend_proxy_prefix]}assets/qsa_id.css" %>

<%= javascript_include_tag 'runcorn_tree_toolbar_ext' %>
<%= javascript_include_tag 'runcorn_agency_form' %>
<%= javascript_include_tag 'runcorn_see_no_digital_objects' %>
<%= javascript_include_tag 'runcorn_representation_files' %>
<%= javascript_include_tag 'runcorn_representation_quick_add' %>
<%= javascript_include_tag 'runcorn_advanced_search' %>


<% if controller_supports_current_record? && current_record && current_record.jsonmodel_type == 'resource' %>
  <%= javascript_include_tag 'runcorn_deaccessions' %>
  <script>
    $(function() {
        $(document).on('loadedrecordform.aspace', function(event, $container) {
            $('section[data-object-name="deaccession"].subrecord-form', $container).each(function() {
                new RuncornDeaccessionSubrecord($(this));
            })
        });
        $(document).on('subrecordcreated.aspace', function(event, subrecord_name, $container) {
            if (subrecord_name == 'digital_representation' || subrecord_name == 'physical_representation') {
                $('section[data-object-name="deaccession"].subrecord-form', $container).each(function() {
                    new RuncornDeaccessionSubrecord($(this));
                });
            }
        });
    });
  </script>
  <script type="text/template" id="runcornDeaccessionWorkflowTemplate">
    <div>
      <div class="modal-body">
        <div class="alert alert-warning">
          <p>Please be aware that deaccessioning this record will also deaccession any child records and linked representations.</p>
          <p>Any physical representations will also be removed from their container.</p>
        </div>
        <p>Affected records include:</p>
        <div class="affected-deaccession-records"><span class="text-muted">Loading...</span></div>
      </div>
      <div class="modal-footer">
        <button id="confirmDeaccessionButton" class="btn btn-warning">Add Deaccession Record</button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
      </div>
    </div>
  </script>
<% end %>


<%# Accession records aren't used.  Remove them from the Browse & Create menus %>
<script>
 $(function () {
   $('.repository-header .navbar-nav .browse-container .dropdown-menu a').each(function () {
     if ($(this).text() === 'Accessions') {
       this.remove();
     }
   });

   $('.repository-header .navbar-nav .create-container .dropdown-menu a').each(function () {
     if ($(this).text() === 'Accession') {
       this.remove();
     }
   });


 });
</script>

<%# contents aware objects can't be deleted if they have contents, so disable the button %>
<% if controller_supports_current_record? && current_record.respond_to?(:contents_count) &&
      current_record.contents_count > 0 %>

  <script>
     $(function () {
       $('button.delete-record').attr('disabled', 'disabled');

       $('button.delete-record').text("<%=j I18n.t('contents_awareness.no_delete_button_label') %>");
     });
  </script>

<% end %>

<% if controller_supports_current_record? && current_record && current_record.jsonmodel_type == 'resource' %>
  <%= javascript_include_tag 'runcorn_raps' %>
  <script type="text/template" id="runcornRAPAttachWorkflowTemplate">
    <div>
      <div class="modal-body">
        Loading...
      </div>
      <div class="modal-footer">
        <button id="confirmRAPAttachButton" class="btn btn-primary" disabled>Attach and Apply RAP</button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
      </div>
    </div>
  </script>
  <script>
    $(document).on('loadedrecordform.aspace', function(event, $container) {
        var opts = {
          'forever_closed_access_categories': <%== AppConfig[:as_runcorn_forever_closed_access_categories].to_json %>,
        };
        new RuncornRAPs($container, opts);
    });
  </script>

  <script type="text/template" id="runcornRAPReparentNodesConfirmationTemplate">
    <div>
      <div class="modal-body">
        <p>Moving these records will change the applied access notifications/RAPs for their attached representations</p>
      </div>
      <div class="modal-footer">
        <button id="confirmRAPReparentButton" class="btn btn-primary">Apply Move</button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
      </div>
    </div>
  </script>
<% end %>

<% if controller_supports_current_record? && current_record && current_record.jsonmodel_type == 'assessment' %>
  <%= javascript_include_tag 'runcorn_assessments' %>
  <script type="text/template" id="runcornAssessmentGenerateTreatmentsWorkflowTemplate">
    <div>
      <div class="modal-body">
        Loading...
      </div>
      <div class="modal-footer">
        <button id="confirmGenerateTreatmentsButton" class="btn btn-primary" disabled>Generate Treatments</button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
      </div>
    </div>
  </script>
<% end %>

<% if controller.controller_name == 'top_containers' && controller.action_name == 'index' %>
  <%= javascript_include_tag("runcorn_top_containers.bulk") %>
  <%= render_aspace_partial :partial => "top_containers/bulk_operations/bulk_action_extra_templates" %>
<% end %>

<% if controller.controller_name == 'search' %>
  <script type="text/template" id="createBatchFromSearchTemplate">
    <div class="btn-group">
      <%= form_tag({:controller => :batches, :action => :create_from_search}.merge(params.select{|k,v| !['controller', 'action'].include?(k)})) do |f| %>
        <button class="btn btn-sm btn-primary"><%= I18n.t("batch._frontend.action.create_from_search") %></button>
      <% end %>
    </div>
  </script>

  <script>
    $(function () {
      $('.record-toolbar .btn-group').prepend(AS.renderTemplate("createBatchFromSearchTemplate"))
    });
  </script>
<% end %>

<%= javascript_include_tag 'runcorn_reports' %>
