<% if controller_supports_current_record? && current_record.respond_to?(:registration_state) &&
      controller.action_name == 'show' &&
      current_record.registration_state != 'approved' && user_can?('update_agent_record') %>
  <%= stylesheet_link_tag "#{AppConfig[:frontend_proxy_prefix]}assets/managed_registration.css" %>

  <%= javascript_include_tag 'registration_action_dropdown' %>

  <script>
     REGISTRATION_STATE = '<%=j current_record.registration_state %>';
     REGISTRATION_ACTION_DROPDOWN = $('<%=j render_aspace_partial :partial => "shared/registration_action_dropdown", :locals => {:state => current_record.registration_state} %>');
  </script>
<% end %>

<%= stylesheet_link_tag "#{AppConfig[:frontend_proxy_prefix]}assets/runcorn.css" %>


<script type="text/template" id="managedRegistrationButtonTemplate">
  <%= link_to I18n.t("managed_registration.button_label"), {:controller => :managed_registration, :action => :index} %>
</script>

<script type="text/template" id="chargeableItemButtonTemplate">
  <%= link_to I18n.t("chargeable_item.button_label"), {:controller => :chargeable_items, :action => :index} %>
</script>

<script type="text/template" id="chargeableServiceButtonTemplate">
  <%= link_to I18n.t("chargeable_service.button_label"), {:controller => :chargeable_services, :action => :index} %>
</script>

<script type="text/template" id="browseRepresentationsTemplate">
  <li><%= link_to I18n.t("representation._plural"), {:controller => :representations, :action => :index} %></li>
</script>

<script type="text/template" id="browseSignificantItemsTemplate">
  <li><%= link_to I18n.t("as_runcorn.significant_item._plural"), {:controller => :significant_items, :action => :index} %></li>
</script>

<script type="text/template" id="browseConservationRequestTemplate">
  <li class="divider"></li>
  <li><%= link_to I18n.t("conservation_request._plural"), {:controller => :conservation_requests, :action => :index} %></li>
</script>

<script type="text/template" id="createConservationRequestTemplate">
  <li class="divider"></li>
  <li><%= link_to I18n.t("conservation_request._singular"), {:controller => :conservation_requests, :action => :new} %></li>
</script>

<script>
    // put link in the System menu
    $(function() {
      var setupButton = function(templ, divider) {
        if (divider) {
          $('.system-menu .dropdown-menu').append($('<li class="divider" />'));
        }
        $but = $(AS.renderTemplate(templ));
        $('.system-menu .dropdown-menu').append($('<li />').append($but));
        $('.system-menu').show();
      };

      setupButton("managedRegistrationButtonTemplate", true);
      setupButton("chargeableItemButtonTemplate", true);
      setupButton("chargeableServiceButtonTemplate");

      // Put representation browse in Repo menu
      $('.repository-header .navbar-nav .browse-container .dropdown-menu .divider:first').before(AS.renderTemplate("browseRepresentationsTemplate"))

      // And significant items browse
      $('.repository-header .navbar-nav .browse-container .dropdown-menu .divider:first').before(AS.renderTemplate("browseSignificantItemsTemplate"))

      // Conservation requests sit before assessments in browse
      $('.repository-header .navbar-nav .browse-container .dropdown-menu a[href="/assessments"]').parent().before(AS.renderTemplate("browseConservationRequestTemplate"))

      // And replaces them in create
      $('.repository-header .navbar-nav .create-container .dropdown-menu a[href="/assessments/new"]').parent().replaceWith(AS.renderTemplate("createConservationRequestTemplate"))
    });
</script>


<%= stylesheet_link_tag "#{AppConfig[:frontend_proxy_prefix]}assets/qsa_id.css" %>

<%= javascript_include_tag 'runcorn_tree_toolbar_ext' %>
<%= javascript_include_tag 'runcorn_agency_form' %>
<%= javascript_include_tag 'runcorn_see_no_digital_objects' %>
<%= javascript_include_tag 'runcorn_representation_files' %>
<%= javascript_include_tag 'runcorn_representation_quick_add' %>


<% if controller_supports_current_record? && current_record && current_record.jsonmodel_type == 'resource' %>
  <%= javascript_include_tag 'runcorn_deaccessions' %>
  <script>
    $(function() {
        $(document).on('loadedrecordform.aspace', function(event, $container) {
            $('section[data-object-name="deaccession"].subrecord-form', $container).each(function() {
                new RuncornDeaccessionSubrecord($(this));
            })
        });
        $(document).on('subrecordcreated.aspace', function(event, subrecord_name, $container) {
            if (subrecord_name == 'digital_representation' || subrecord_name == 'physical_representation') {
                $('section[data-object-name="deaccession"].subrecord-form', $container).each(function() {
                    new RuncornDeaccessionSubrecord($(this));
                });
            }
        });
    });
  </script>
  <script type="text/template" id="runcornDeaccessionWorkflowTemplate">
    <div>
      <div class="modal-body">
        <div class="alert alert-warning">
          <p>Please be aware that deaccessioning this record will also deaccession any child records and linked representations.</p>
          <p>Any physical representations will also be removed from their container.</p>
        </div>
        <p>Affected records include:</p>
        <div class="affected-deaccession-records"><span class="text-muted">Loading...</span></div>
      </div>
      <div class="modal-footer">
        <button id="confirmDeaccessionButton" class="btn btn-warning">Add Deaccession Record</button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
      </div>
    </div>
  </script>
<% end %>


<%# Accession records aren't used.  Remove them from the Browse & Create menus %>
<script>
 $(function () {
   $('.repository-header .navbar-nav .browse-container .dropdown-menu a').each(function () {
     if ($(this).text() === 'Accessions') {
       this.remove();
     }
   });

   $('.repository-header .navbar-nav .create-container .dropdown-menu a').each(function () {
     if ($(this).text() === 'Accession') {
       this.remove();
     }
   });


 });
</script>

<%# contents aware objects can't be deleted if they have contents, so disable the button %>
<% if controller_supports_current_record? && current_record.respond_to?(:contents_count) &&
      current_record.contents_count > 0 %>

  <script>
     $(function () {
       $('button.delete-record').attr('disabled', 'disabled');

       $('button.delete-record').text("<%=j I18n.t('contents_awareness.no_delete_button_label') %>");
     });
  </script>

<% end %>

<% if controller_supports_current_record? && current_record && current_record.jsonmodel_type == 'resource' %>
  <%= javascript_include_tag 'runcorn_raps' %>
  <script type="text/template" id="runcornRAPAttachWorkflowTemplate">
    <div>
      <div class="modal-body">
        Loading...
      </div>
      <div class="modal-footer">
        <button id="confirmRAPAttachButton" class="btn btn-primary" disabled>Attach and Apply RAP</button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
      </div>
    </div>
  </script>
  <script>
    $(document).on('loadedrecordform.aspace', function(event, $container) {
        var opts = {
          'forever_closed_access_categories': <%== AppConfig[:as_runcorn_forever_closed_access_categories].to_json %>,
        };
        new RuncornRAPs($container, opts);
    });
  </script>

  <script type="text/template" id="runcornRAPReparentNodesConfirmationTemplate">
    <div>
      <div class="modal-body">
        <p>Moving these records will change the applied access notifications/RAPs for their attached representations</p>
      </div>
      <div class="modal-footer">
        <button id="confirmRAPReparentButton" class="btn btn-primary">Apply Move</button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
      </div>
    </div>
  </script>
<% end %>

<% if controller_supports_current_record? && current_record && current_record.jsonmodel_type == 'assessment' %>
  <%= javascript_include_tag 'runcorn_assessments' %>
  <script type="text/template" id="runcornAssessmentGenerateTreatmentsWorkflowTemplate">
    <div>
      <div class="modal-body">
        Loading...
      </div>
      <div class="modal-footer">
        <button id="confirmGenerateTreatmentsButton" class="btn btn-primary" disabled>Generate Treatments</button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
      </div>
    </div>
  </script>
  <script>
      $(document).on('loadedrecordform.aspace', function(event, $container) {
          new RuncornRAPs($container);
      });
  </script>
<% end %>
