<% define_template "rap", jsonmodel_definition(:rap) do |form| %>
  <% if form.readonly? && form.obj['years_default_applied'] %>
    <div class="alert alert-warning">Restricted Access Period not originally defined. A default maximum of 100 years for this Access Category has been applied.</div>
  <% end %>
  <%= form.label_with_field 'open_access_metadata', form.checkbox('open_access_metadata'), :controls_class => 'checkbox' %>
  <% if form.readonly? && form.obj['access_category'].nil? %>
    <%= form.label_and_readonly 'access_category', "<span class='text-danger'>Not yet provided</span>".html_safe %>
  <% else %>
    <%= form.label_and_select 'access_category', form.possible_options_for("access_category", true) %>
  <% end %>
  <%
    if form.obj['years']
      form.obj['years'] = form.obj['years'].to_s
    end
  %>
  <% if form.readonly? || !form.obj['years_default_applied'] %>
    <%= form.label_and_textfield 'years' %>
  <% else %>
    <%= form.label_and_textfield 'years', {:field_opts => {:value => ''}} %>
  <% end %>
  <%= form.label_and_textarea 'justification' %>
  <%= form.label_and_textfield 'notice_date' %>
  <%= form.label_and_textfield 'internal_reference' %>

  <% if form.readonly? %>
    <% obj = form.obj['attached_to'] %>
    <% if obj %>
      <div class="token-list">
        <% token = render_token :object => obj['_resolved'],
                                :label => obj['_resolved']['display_string'] || obj['_resolved']['title'] || obj['_resolved']['name'],
                                :type => obj['_resolved']['jsonmodel_type'],
                                :uri => obj["ref"],
                                :placement => "top",
                                :inside_linker_browse => true %>

        <%= form.label_with_field "attached_to", token %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% define_template "rap_expiration" do |form| %>
  <% if form.obj['expires'] && form.obj['existence_end_date'] %>
    <%= form.label_and_textfield('existence_end_date') %>
    <%= form.label_and_textfield('expiry_date') %>
    <%= form.label_and_boolean('expired') %>
  <% elsif form.obj['expires'] %>
    <div class="alert alert-info">Expiration cannot be calculated as no end date set on record.</div>
  <% else %>
    <span></span>
  <% end %>
<% end %>