<% no_default ||= false %>

<% form.push(field, form.obj[field] || {}) do %>
  <div class="input-group linker-wrapper">
    <input type="text" class="linker"
           id="<%= field %>_movement_user_linker"
           data-label="<%= I18n.t("movement.user") %>"
           data-label_plural="<%= I18n.t("movement.user") %>"
           data-path="<%= form.path %>"
           data-name="ref"
           data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
           data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => [], :display_identifier => true %>"
           data-selected="<%= ASUtils.to_json(form.obj['_resolved'] || (no_default ? {} : MovementsHelper.agent_for_user(session['user_uri']))) %>"
           data-format_property="display_string"
           data-multiplicity="one"
           data-types='["agent_with_user"]'
    />
    <div class="input-group-btn">
      <a class="btn btn-default dropdown-toggle last" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
      </ul>
    </div>
  </div>
<% end %>
