<% unless rap.nil? %>
  <div class="panel <% if rap['is_active'] %>panel-primary<% else %>panel-default<% end %>">
    <div class="panel-heading">
      <div class="row accordion-toggle collapsed"
           data-toggle="collapse"
           data-parent="#<%= accordion_id %>_accordion"
           href="#<%= accordion_id %>_rap_<%= index %>">
        <div class="col-md-12">
          <span class="glyphicon"></span>
          <% if record['rap_attached'] && rap['ref'] === record['rap_attached']['uri'] %><div class="badge badge-info">Attached</div> <% end %>
          <% if rap['is_active'] %>
            <% if record['rap_expiration'] && record['rap_expiration']['expires'] %>
              <% if record['rap_expiration']['expired'] %>
                <div class="badge badge-info">
                  <div class="text-danger">Expired: <%= record['rap_expiration']['expiry_date'] %></div>
                </div>
              <% else %>
                <div class="badge badge-info">Expires: <%= record['rap_expiration']['expiry_date'] %></div>
              <% end %>
            <% elsif record['rap_expiration'] && !record['rap_expiration']['expires'] %>
              <div class="badge badge-info">No Expiry</div>
            <% end %>
            <div class="badge badge-info"><%= record['rap_access_status'] %></div>
          <% end %>
          <% if rap['_resolved']['is_repository_default'] %>
            <div class="badge badge-info">DEFAULT RESTRICTION</div>
          <% else %>
            <%= rap['_resolved']['display_string'] %>
          <% end %>
          <% if record['rap_attached'] && rap['ref'] === record['rap_attached']['uri'] %>
            <button class="edit-rap-button btn btn-default btn-xs pull-right" data-attached-uri="<%= record['uri'] %>" data-rap-uri="<%= record['rap_attached']['uri'] %>">Edit RAP</button>
          <% end %>
        </div>
      </div>
    </div>
    <div id="<%= accordion_id %>_rap_<%= index %>" class="panel-collapse collapse">
      <div class="subrecord-form-container">
        <% if rap['ref'] === record['rap_applied']['uri'] %>
          <% if record['rap_access_status'] == 'Restricted Access' %>
            <div class="alert alert-info">Access to these records has been restricted by the agency. For permission to access these records please contact the agency.</div>
          <% end %>
          <%= form.label_and_textfield 'rap_access_status' %>
          <% if record['rap_expiration'] %>
            <% form.push('rap_expiration', record['rap_expiration']) do %>
              <% form.emit_template 'rap_expiration' %>
            <% end %>
            <hr>
          <% else %>
            <div class="alert alert-warning">Unable to calculate RAP expiration.</div>
          <% end %>
        <% end %>
        <% if rap['_resolved']['is_repository_default'] %>
          <div class="alert alert-info">
            Default Restriction is in effect. Access is closed indefinitely. 
          </div>
        <% else %>
          <% form.push('rap', rap['_resolved']) do %>
            <% form.emit_template 'rap' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end  %>
