<% render_aspace_partial :partial => "raps/template" %>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3>
    <%= I18n.t("rap_applied._plural") %>
    <% if user_can?('set_raps') %>
      <button class="attach-rap-button btn btn-sm btn-default pull-right" data-uri="<%= record['uri'] %>">Attach RAP</button>
    <% end %>
  </h3>
  <div class="subrecord-form-container">

    <div class="alert alert-info raps-form-changed-warning" style="display: none;">
      You have unsaved changes - Save or Revert to access RAP actions
    </div>

    <% if record['jsonmodel_type'] == 'archival_object' && record['physical_representations'].any?{|prep| prep.has_key?('rap_attached') } %>
      <div class="alert alert-info"><%= I18n.t('archival_object._frontend.has_representation_with_rap_attached') %></div>
      <br/>
    <% end %>

    <% accordion_id = SecureRandom.hex %>
    <div class="panel-group details" id="<%= accordion_id %>_accordion">
      <% raps_to_show = ASUtils.wrap(record['rap_history']).reverse %>
      <%= render_aspace_partial :partial => 'rap_applied/rap', :locals => {:form => form, :accordion_id => accordion_id, :rap => raps_to_show.shift, :record => record, :index => 0} %>

      <%# Show history on AOs and on representations that have RAP overrides %>
      <% if record['rap_attached'] || record['jsonmodel_type'] == 'archival_object' %>
        <% raps_to_show.reject{|rap| rap['_resolved']['is_repository_default']}.each_with_index do |rap, ix| %>
          <% if ix == 0 %><h4>RAP History:</h4><% end %>
          <%= render_aspace_partial :partial => 'rap_applied/rap', :locals => {:form => form, :accordion_id => accordion_id, :rap => rap, :record => record, :index => ix + 1} %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
