<% define_template "batch_action", jsonmodel_definition(:batch_action) do |form| %>
  <% editable = form.obj['action_status'] == 'draft' && !form.readonly? %>
  <% action_type = form.obj['action_type'] %>

  <section id="action" class="subrecord-form-dummy">
    <div class="subrecord-form-container">
      <div class="subrecord-form-fields">
        <%= form.hidden_input('lock_version', form.obj['lock_version']) %>

        <%= render_aspace_partial :partial => 'shared/qsa_id_form', :locals => {:form => form, :model => :batch_action} %>

        <%= form.label_and_readonly "action_status" %>

        <% if form.readonly? %>
          <%= form.label_and_readonly "action_user" %>
          <%= form.label_and_readonly "action_time" %>
          <%= form.label_and_readonly "approved_user" %>
        <% end %>

        <%= form.label_and_textarea "note" %>

        <div class="form-group">
          <label class="control-label col-sm-2"><%= I18n.t("batch_action.action_type") %></label>
          <div class="label-only col-sm-10">
            <%= I18n.t("batch_action.action_types.#{form.obj['action_type']}") %>
          </div>
        </div>

        <section id="action_params" class="subrecord-form-dummy">
          <h4 class="subrecord-form-heading"><%= I18n.t("batch_action.action_params") %></h4>
          <div class="subrecord-form-container">
            <div class="subrecord-form-fields">
              <% form.push('action_params', ASUtils.json_parse(form.obj['action_params'] || '{}')) do %>
                <%= render_aspace_partial :partial => "batches/action_params_template", :locals => {:form => form, :action_type => action_type} %>
              <% end %>
            </div>
          </div>
        </section>

        <% if form.readonly? %>
          <section id="action_result" class="subrecord-form-dummy">
            <h4 class="subrecord-form-heading"><%= I18n.t("batch_action.last_report") %></h4>
            <div class="subrecord-form-container">
              <div class="subrecord-form-fields">

                <div class="form-group">
                  <div class="col-sm-12">
                    <pre style="max-height:300px;"><%= form.obj['last_report'] %></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <% end %>

      </div>
    </div>
  </section>
<% end %>
