<% render_aspace_partial :partial => "batches/action_template" %>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @batch, :form => form} %>

<fieldset>
  <% define_template "batch", jsonmodel_definition(:batch) do |form| %>

    <section id="basic_information">
      <h3>
        <%= I18n.t("batch._frontend.section.basic_information") %>
        <%= link_to_help :topic => "batch_basic_information" %>
      </h3>

      <%= render_plugin_partials("top_of_basic_information_batch",
                                 :form => form,
                                 :record => @batch) %>

      <%= render_aspace_partial :partial => 'shared/qsa_id_form', :locals => {:form => form, :model => :batch} %>

      <% if form.readonly? %>
        <%= form.label_and_select "status", form.possible_options_for("status") %>
      <% end %>

      <%= form.label_and_textarea "note" %>
    </section>

    <% if (@batch.object_count && @batch.object_count > 0) || @batch.actions.length > 0 %>
      <%= render_aspace_partial :partial => "batches/actions", :locals => {:form => form} %>
    <% end %>

    <%= render_aspace_partial :partial => "batches/assigned_objects", :locals => {:form => form, :id => @batch.id } if form.readonly? %>

  <% end %>

  <% form.emit_template("batch") %>

  <%= form_plugins_for("batch", form) %>
</fieldset>
