<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @batch, :form => form} %>

<fieldset>
  <% define_template "batch", jsonmodel_definition(:batch) do |form| %>

    <section id="basic_information">
      <h3>
        <%= I18n.t("batch._frontend.section.basic_information") %>
        <%= link_to_help :topic => "batch_basic_information" %>
      </h3>

      <%= render_plugin_partials("top_of_basic_information_batch",
                                 :form => form,
                                 :record => @batch) %>

      <%= render_aspace_partial :partial => 'shared/qsa_id_form', :locals => {:form => form, :model => :batch} %>

      <% form.obj['requested_by'] ||= current_user %>

      <% if form.readonly? %>
        <%= form.label_and_textfield "status" %>

        <% if form.obj['assessment'] %>
          <div class="token-list">
            <% token = render_token(:object => form.obj['assessment']['_resolved'],
                                    :label => "Assessment #{form.obj['assessment']['_resolved']['display_string']}",
                                    :type => 'assessment',
                                    :uri => form.obj['assessment']['ref'],
                                    :placement => "top",
                                    :inside_linker_browse => true) %>

            <%= form.label_with_field "assessment", token %>
        <% end %>

      <% end %>

      <%= form.label_and_date "date_of_request", :default => Date.today.iso8601 %>
      <%= form.label_and_textfield "requested_by" %>
      <%= form.label_and_select "requested_for", form.possible_options_for("requested_for", true) %>
      <%= form.label_and_select "reason_requested", form.possible_options_for("reason_requested", true) %>
      <%= form.label_and_textarea "reason_requested_comments" %>

      <%= form.label_and_select "client_type", form.possible_options_for("client_type", true) %>
      <%= form.label_and_textfield "client_name" %>
      <%= form.label_and_textfield "client_id" %>

      <%= form.label_and_date "date_required_by" %>
    </section>

  <% end %>

  <% form.emit_template("batch") %>

  <%= form_plugins_for("batch", form) %>
</fieldset>
