<%= setup_context :object => @batch, :title => @batch.display_string %>

<div class="row">
    <div class="record-pane batch_add_action">
        <div class="pull-right">
        </div>
        <%= form_tag(:controller => :batches, :action => :add_action) do |f| %>
            <h2>Add a draft action to <%= @batch.display_string %></h2>

            <div>
              Object types in this batch:
            </div>

            <div class="clearfix"></div>

            <hr/>

            <div>
              Click on the action to add. Note some actions may not be available because this batch
              contains objects of a type that the action does not support.
            </div>

            <div>
              <% batch_action_types.each do |type| %>
                <%= form_tag({:controller => :batches, :action => :add_action}) do |f| %>
                  <input type="hidden" name="action_type" value="<%= type['type'] %>">
                  <div class="batch-action-type-panel" onclick="submit()">
                    <h4><%= I18n.t("batch_action_types.#{type['type']}.label") %></h4>
                    <div><%= type['description'] %></div>

                    <div class="batch-action-supported-types-panel">
                      <strong>Supported types:</strong>
                      <% type['models'].each do |model| %>
                        <span class="label label-info"><%= I18n.t("#{model}._singular") %></span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="form-actions">
                <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
            </div>
        <% end %>

    </div>
</div>
