<%= setup_context :title => "Add draft action", :trail => [[I18n.t('batch._plural'), {:controller => :batches, :action => :index}],
                                                           [@batch.display_string, {:controller => :batches, :action => :show}]] %>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @batch} %>

<div class="row">
    <div class="record-pane batch_add_action col-sm-12">
        <div class="pull-right">
        </div>
        <h2>Add a draft action to <%= @batch.display_string %></h2>

        <div>
          <strong>Object types in this batch:</strong>
          <% @batch.model_counts.each do |model, count| %>
            <span class="label label-info"><%= I18n.t("#{model}._singular") %></span>
          <% end %>
        </div>

        <div class="clearfix"></div>

        <hr/>

        <div class="alert alert-info">
          Click on the action to add. Note some actions may not be available because this batch
          contains objects of a type that the action does not support.
        </div>

        <div>
          <% batch_action_types.each do |type| %>
            <% unsupported_models = (@batch.model_counts.keys - type['models']) %>

            <% if unsupported_models.empty? %>
              <div class="pull-left batch-action-type-panel batch-action-type-available" onclick="$(this).find('form').submit();">
            <% else %>
              <div class="pull-left batch-action-type-panel batch-action-type-unavailable"
                   title="Unsupported types in batch: <%= unsupported_models.map{|m| I18n.t("#{m}._singular") }.join(', ') %>">
            <% end %>

              <%= form_tag({:controller => :batches, :action => :add_action}) do |f| %>
                <input type="hidden" name="action_type" value="<%= type['type'] %>">
              <% end %>

              <div class="pull-right">
                <% if type['approval'] == 'no_approval_required' %>
                  <div class="label label-success"><%= I18n.t('batch_action.no_approval_required') %></div>
                <% else %>
                  <div class="label label-warning" title="Requires approval by a user with '<%= I18n.t('group.permission_types.' + type['approval']) %>' permission"><%= I18n.t('batch_action.approval_required') %></div>
                <% end %>
              </div>

              <h4><%= I18n.t("batch_action_types.#{type['type']}.label") %></h4>

              <div><%= type['description'] %></div>

              <div class="batch-action-supported-types-panel">
                <strong>Supported types:</strong>
                <% type['models'].each do |model| %>
                  <span class="label label-info"><%= I18n.t("#{model}._singular") %></span>
                <% end %>
              </div>
            </div>

          <% end %>
        </div>

        <div class="clearfix"></div>

        <hr/>

        <div class="form-actions">
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
        </div>

    </div>
</div>
