<%= setup_context(:title => I18n.t("item_use._plural")) %>

<%
  @no_title = true
  @no_audit = true
  @no_actions = true

  add_column(I18n.t("item_use.physical_representation"),
             proc {|record|
               QSAIdHelper.id(record['item_qsa_id_u_ssort'], :link => true)
             }, :sortable => true, :sort_by => 'item_qsa_id_u_sort', :class => 'col-sm-1')

  add_column(I18n.t("item_use.use_identifier"),
             proc {|record|
               QSAIdHelper.id(record['use_qsa_id_u_ssort'], :link => true) || record['use_qsa_id_u_ssort']
             }, :sortable => true, :sort_by => 'use_qsa_id_u_sort', :class => 'col-sm-1')

  add_column(I18n.t("item_use.status"),
             proc {|record|
               record.fetch('item_use_status_u_ssort')
             },
             :sortable => true, :sort_by => 'item_use_status_u_ssort')

  add_column(I18n.t("item_use.used_by"),
             proc {|record|
               if (qsa_id = QSAIdHelper.id(record['item_use_used_by_u_ssort'], :link => true))
                 qsa_id
               else
                 record.fetch('item_use_used_by_u_ssort').sub(/\s*\<.+\>$/, '')
               end
             },
             :sortable => true, :sort_by => 'item_use_used_by_u_ssort')

  add_column(I18n.t("item_use.start_date"),
             proc {|record|
               record.fetch('item_use_start_date_u_ssort')
             },
             :sortable => true, :sort_by => 'item_use_start_date_u_ssort')

  add_column(I18n.t("item_use.end_date"),
             proc {|record|
               record.fetch('item_use_end_date_u_ssort', '')
             },
             :sortable => true, :sort_by => 'item_use_end_date_u_ssort')

%>

<div class="row item-use-content">
  <div class="col-md-3">
    <div class="sidebar">
      <h3>Date Range</h3>

      From:
      <input class="form-control date-field" type="text" name="date_range_start" value="<%= params['date_range_start'] %>"
             data-format="yyyy-mm-dd"
             data-date="<%= params['date_range_start'] %>"
             data-autoclose="true"
             data-force-parse="true">

      To:  
      <input class="form-control date-field" type="text" name="date_range_end" value="<%= params['date_range_end'] %>"
             data-format="yyyy-mm-dd"
             data-date="<%= params['date_range_end'] %>"
             data-autoclose="true"
             data-force-parse="true">

      <div style="margin-top:10px;margin-bottom:20px">
        <a href="javascript:void(0);" class="btn btn-default pull-left" id="item-use-clear-dates">Clear dates</a>
        <%= link_to 'Apply range', build_search_params, :class => 'btn btn-default pull-right' %>
      </div>

      <div class="clearfix"></div>

      <h3>Filter</h3>

      <%= render_aspace_partial :partial => "search/filter" %>

      <%
        filter_fields = [
                          'item_qsa_id_u_ssort',
                          'use_qsa_id_u_ssort',
                          'item_use_used_by_u_ssort',
                          'item_use_start_date_u_ssort',
                          'item_use_end_date_u_ssort',
                        ]
        filters = {}
        @search_data['results'].each do |record|
          filter_fields.each do |ff|
            filters[ff] ||= []
            filters[ff] << record[ff] if record[ff]
          end
        end

        filters.each do |ff, vals|
          vals.uniq!
        end
      %>

      <% filters.each do |filter, values| %>
        <% next if !!Array(@search_data[:criteria]['filter_term[]']).find {|term| JSON.parse(term).keys[0] == filter} %>

        <% next if values.empty? %>

        <h3><%= I18n.t('search_sorting.' + filter) %></h3>
        <ul>
          <% values.each do |value| %>
            <li>
              <%= link_to (filter == 'item_use_used_by_u_ssort' ? value.sub(/\s*\<.+\>$/, '') : value),
                          build_search_params.merge("filter_term[]" => {filter => value}.to_json) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar">
      <div class="btn-group pull-right">
        <%= link_to I18n.t("actions.export_csv"),
                    request.parameters.reject{|p,v|  p.start_with?('date_range') }.merge({:format => :csv}),
                    id: "searchExport",  class:  "btn btn-sm btn-info" %> 
      </div>
      <br style="clear:both" />
    </div>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("item_use._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.item-use-content form[action*=item_uses] button').on('click', function(e) {
      var date_range_start = $('input[name=date_range_start]').val();
      var date_range_end = $('input[name=date_range_end]').val();

      $form = $(this).closest('form');

      if (date_range_start) {
        $form.append('<input type="hidden" name="date_range_start" value="' + date_range_start + '">');
      }

      if (date_range_end) {
        $form.append('<input type="hidden" name="date_range_start" value="' + date_range_end + '">');
      }
    });

    $('.item-use-content a[href*=item_uses]').on('click', function(e) {
      var date_range_start = $('input[name=date_range_start]').val();
      var date_range_end = $('input[name=date_range_end]').val();

      if (!$(this).attr('href').includes('?') && (date_range_start || date_range_end)) {
        $(this).attr('href', $(this).attr('href') + '?sort=user_mtime+desc');
      }

      if (date_range_start) {
        $(this).attr('href', $(this).attr('href') + '&date_range_start=' + date_range_start);
      }

      if (date_range_end) {
        $(this).attr('href', $(this).attr('href') + '&date_range_end=' + date_range_end);
      }
    });

    $('#item-use-clear-dates').on('click', function(e) {
      $('input[name=date_range_start]').val('');
      $('input[name=date_range_end]').val('');
    });
  });
</script>
