<script type="text/template" id="bulk_action_update_functional_location">
<div>
  <%= form_tag({:controller => :top_containers, :action => :bulk_functional_location}, {:class => "form-horizontal", :id => "bulk_functional_location" }) do |f| %>
    <div class="modal-body">
        <div class="alert alert-info" id="alertBucket"><%= I18n.t("top_container._frontend.bulk_operations.update_functional_locations_singular_help") %></div>

        <div class="selected-record-list well">
            <ul>
                {for container in selection}
                <li>${container.display_string}</li>
                {/for}
            </ul>
        </div>

        {for container in selection}
          <input type="hidden" name="update_uris[]" value="${container.uri}">
        {/for}
        <input type="hidden" name="location_uri" value="">
        <div class="span8">
          <div class="control-group">
            <label class="control-label" for="location"><%= I18n.t("location._singular") %></label>
            <div class="controls">

              <%
                options = JSONModel.enum_values('runcorn_location').map{|label|
                            [I18n.t("enumerations.runcorn_location.#{label}", :default => label), label]
                          }
              %>

              <%= select_tag 'location', options_for_select(options, 'HOME'), :class => 'form-control' %>

            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><%= I18n.t("top_container._frontend.bulk_operations.update_n_records", {:n => "${selection.length}"}) %></button>
        <button class="btn btn-cancel" data-dismiss="modal"><%= I18n.t("actions.cancel") %></button>
    </div>
  <% end %>
</div>
</script>
