<% render_aspace_partial :partial => "raps/template" %>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3>
    <%= I18n.t("rap_attached._plural") %>
    <% if user_can?('set_raps') %>
      <button class="attach-rap-button btn btn-sm btn-default pull-right" data-uri="<%= record['uri'] %>">Attach RAP</button>
    <% end %>
  </h3>
  <div class="subrecord-form-container">
    <div class="alert alert-info raps-form-changed-warning" style="display: none;">
      You have unsaved changes - Save or Revert to access RAP actions
    </div>
    <div class="subrecord-form-fields">
      <% if record['rap_attached'].nil? %>
        <div class="alert alert-info">No RAP attached; representations will inherit their RAP from up the hierarchy.</div>
      <% else %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row accordion-toggle collapsed"
                 data-toggle="collapse"
                 data-parent="#<%= section_id %>_accordion"
                 href="#<%= section_id %>_rap">
              <div class="col-md-12">
                <span class="glyphicon"></span>
                <div class="badge badge-info">Attached</div>
                <%= record['rap_attached']['display_string'] %>
                <% if user_can?('set_raps') %>
                  <button class="edit-rap-button btn btn-default btn-xs pull-right" data-attached-uri="<%= record['uri'] %>" data-rap-uri="<%= record['rap_attached']['uri'] %>">Edit RAP</button>
                <% end %>
              </div>
            </div>
          </div>
          <div id="<%= section_id %>_rap" class="panel-collapse collapse">
            <div class="subrecord-form-container">
              <% form.push('rap', record['rap_attached']) do %>
                <% form.emit_template 'rap' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
