<%= setup_context :title => I18n.t("archival_object._plural") %>

<%
   add_browse_columns("archival_object", {"level" => "archival_record_level", "language" => "language_iso639_2"})
   @display_context = true

   add_column(I18n.t("representation.rap_expiry_date"),
              proc {|record|
                    if record.fetch('rap_expiry_date_u_sstr', [])[0]
                    (record.fetch('rap_expiry_date_u_sstr', [])[0] + (record.fetch('rap_expired_u_sbool', [])[0] ? ' (expired)' : ''))
                    else
                    ''
                    end
              }, :sortable => true, :sort_by => 'rap_expiry_date_sort_u_ssortdate', :cell_class => 'browse-date-column')
%>


<div class="row">
   <div class="col-md-3">
     <div class="sidebar">
       <%= render_aspace_partial :partial => "search/filter" %>
      <%= render_aspace_partial :partial => 'raps/rap_facets' %>
     </div>
   </div>
   <div class="col-md-9">
     <div class="record-toolbar">
       <div class="btn-group pull-right">
         <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv}), id: "searchExport",  class:  "btn btn-sm btn-info" %>
        <% if user_can?('create_batch') %>
          <div class="btn-group">
            <%= form_tag({:controller => :archival_objects, :action => :create_batch}.merge(params.select{|k,v| !['controller', 'action'].include?(k)})) do |f| %>
              <button class="btn btn-sm btn-primary"><%= I18n.t("batch._frontend.action.create_from_search") %></button>
            <% end %>
          </div>
        <% end %>

       </div>
       <br style="clear:both" />
     </div>

     <div class="record-pane">
       <%= link_to_help :topic => "search" %>

       <h2><%= I18n.t("archival_object._plural") %></h2>

       <%= render_aspace_partial :partial => "shared/flash_messages" %>

       <%= render_aspace_partial :partial => "search/listing" %>
     </div>
   </div>
</div>
