<% ajax_search_url = url_for({:controller => :assessments, :action => :linked_representations, :id => id, :format => :js, :listing_only => true}) %>

<section id="representations_requested" class="subrecord-form-dummy">
    <h3><%= I18n.t('representations_requested._plural') %></h3>
    <div>
    <div class="subrecord-form-container">
        <div class="pull-right">
            <%= link_to I18n.t("conservation_request._frontend.action.csv_download"), {:controller => :assessments, :action => :csv, :id => params[:id]}, :class => "btn btn-sm btn-default" %>
        </div>
        <% if user_can?('update_resource_record') && user_can?('manage_conservation_assessment') %>
          <div class="pull-right">
            <%= link_to I18n.t("assessment._frontend.action.generate_treatments"), 'javascript:void(0);', :class => "btn btn-sm btn-default", :id => 'runcornGenerateTreatmentsButton', :style=> 'margin-right: 10px;', :'data-assessmentId' => id %>
          </div>
        <% end %>
        <div class="clearfix"></div>

        <div class="subrecord-form-fields embedded-search" data-url="<%= ajax_search_url %>">
            <div class="alert alert-info">Loading...</div>
        </div>
    </div>
</section>

<%= javascript_include_tag("embedded_search.js") %>
