<%= setup_context(:title => I18n.t("as_runcorn.significant_item._plural")) %>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_accession_record') %>
      <div class="record-toolbar">
        <% if params['series_uri'] %>
          <div class="btn-group pull-right">
            <%= link_to I18n.t("as_runcorn.significant_item.all_button_label"), {:controller => :significant_items, :action => :index}, :class => "btn btn-default" %>
          </div>
          <br style="clear:both" />
        <% end %>
      </div>
    <% end %>
    <div class="record-pane">
      <h2><%= I18n.t("as_runcorn.significant_item._plural") %></h2>

      <% if params['series_uri'] %>
      <div style="margin: 10px 2px 10px 6px;">
          <%= I18n.t("as_runcorn.significant_item.for_series_message") %>
          <% series = @significant_items.first['series'] %>
          &nbsp;
          <%= QSAIdHelper.id(series['qsa_id']) %>
          &nbsp;
          <strong><%= link_to series['label'], {:controller => :resolver, :action => :resolve_readonly, :uri => series['uri']} %></strong>
        </div>
      <% end %>

      <table class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="col" colspan="2"></th>
            <th class="col"><%= I18n.t('as_runcorn.significant_item.format') %></th>
            <th class="col"><%= I18n.t('as_runcorn.significant_item.current_location') %></th>
          </tr>
        </thead>

        <tbody>
          <% levels = JSONModel.enum_values('runcorn_significance').reject{|v| v == 'standard'}.reverse %>


          <% levels.each do |level| %>
            <tr><th colspan="4" style="background:#eee;"><div style="margin:6px 0px 6px 10px;"><%= SignificanceHelper.display(level) %></div></th></tr>

            <% items = @significant_items.select{|item| item['significance'] == level} %>
            <% if items.empty? %>
              <tr><td colspan="4"><%= I18n.t('as_runcorn.significant_item.none_for_level') %></td></tr>
            <% else %>
              <% @significant_items.select{|item| item['significance'] == level}.each do |item| %>
                <tr>
                  <td>
                    <%= QSAIdHelper.id(item['qsa_id']) %>
                  </td>
                  <td>
                    <strong><%= link_to item['label'], {:controller => :resolver, :action => :resolve_readonly, :uri => item['uri']} %></strong>
                  </td>
                  <td><%= item['format'] %></td>
                  <td>
                    <% if item['current_location']['uri'] %>
                      <%= link_to item['current_location']['location'], {:controller => :resolver, :action => :resolve_readonly, :uri => item['current_location']['uri']} %>
                    <% else %>
                      <%= I18n.t('enumerations.runcorn_location.' + item['current_location']['location']) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <tbody>
      </table>
    </div>
  </div>
</div>
