<%= setup_context(:title => I18n.t("as_runcorn.significant_item._plural")) %>

<% levels = JSONModel.enum_values('runcorn_significance').reject{|v| v == 'standard'}.reverse %>

<script>
  var toggleSignificantItemDetailFor = function(elt) {
    var chev = $(elt).find('span');
    if ($(elt).closest('tr').next().is(':visible')) {
      chev.addClass('glyphicon-chevron-right')
      chev.removeClass('glyphicon-chevron-down')
    } else {
      chev.addClass('glyphicon-chevron-down')
      chev.removeClass('glyphicon-chevron-right')
    }
    $(elt).closest('tr').next().toggle();
  };
</script>


<div class="row">
  <div class="col-md-3">
    <div id="archivesSpaceSidebar" class="sidebar affix-top">
      <ul class="nav list-group as-nav-list">
        <% levels.each do |level| %>
          <li>
            <br/>
            <a href="#<%= level %>">
              <%= SignificanceHelper.display(level, @significant_items.select{|si| si['significance'] == level}.length, @counts[level]) %>
            </a>
          </li>
        <% end %>
      </ul>

      <br/>

        Show items at storage location:
        <div class="input-group linker-wrapper" style="margin-left:10px">
          <input type="text"
                 class="linker"
                 id="location_linker"
                 data-label="<%= I18n.t("location._singular") %>"
                 data-label_plural="<%= I18n.t("location._plural") %>"
                 data-name="ref"
                 data-path="location"
                 data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
                 data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.LOCATION_FACETS %>"
                 data-selected="{}"
                 data-multiplicity="one"
                 data-format_template="title"
                 data-types='["location"]'
          />
          <div class="input-group-btn">
            <a class="btn btn-default dropdown-toggle last locations" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
            </ul>
          </div>
        </div>

      <br/><br/>

      Show items at functional location:
      <br/>
      <div style="margin-left:30px">
      <ul class="list-group">
        <% JSONModel.enum_values('runcorn_location').reject{|loc| loc =='HOME'}.each do |loc| %>
          <li>
            <%= link_to I18n.t('enumerations.runcorn_location.' + loc),
                        {:controller => :significant_items,
                         :action => :index,
                         :series_uri => params[:series_uri],
                         :location => loc } %>
          </li>
        <% end %>
      </ul>
      </div>


    </div>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar">


      <% if params['series_uri'] || params['location'] %>
        <div class="btn-group pull-left">
          <%= link_to I18n.t("as_runcorn.significant_item.all_button_label"), {:controller => :significant_items, :action => :index}, :class => "btn btn-default" %>
        </div>
      <% end %>

        <br style="clear:both" />
    </div>
    <div class="record-pane">
      <h2><%= I18n.t("as_runcorn.significant_item._plural") %></h2>

      <% if params['series_uri'] %>
        <div style="margin: 10px 2px 10px 6px;">
          <%= I18n.t("as_runcorn.significant_item.for_series_message") %>
          <% series = @significant_items.first['series'] %>
          &nbsp;
          <%= QSAIdHelper.id(series['qsa_id']) %>
          &nbsp;
          <strong><%= link_to series['label'], {:controller => :resolver, :action => :resolve_readonly, :uri => series['uri']} %></strong>
        </div>
      <% end %>

      <% if params['location'] %>
        <div style="margin: 10px 2px 10px 6px;">
          <%= I18n.t("as_runcorn.significant_item.at_location_message") %>
          <% location = @significant_items.first ? @significant_items.first['current_location']['location'] : params['location'] %>
          <% location = I18n.t('enumerations.runcorn_location.' + location, location) %>
          &nbsp;
          <strong><%= location %></strong>
        </div>
      <% end %>

      <table class="table table-condensed table-hover">
        <thead>
        </thead>

        <tbody>
          <% levels.each do |level| %>
            <% levelcolor = level == 'memory_of_the_world' ? '#d9534f' : level == 'iconic' ? '#f0ad4e' : '#5bc0de' %>
            <tr>
              <th style="background:<%= levelcolor %>">&nbsp;</th>
              <th colspan="5" style="background:#eee;">
                <a name="<%= level %>"/>
                <div style="margin:6px 0px 6px 10px;"><%= SignificanceHelper.display(level) %></div>
              </th>
            </tr>

            <% items = @significant_items.select{|item| item['significance'] == level} %>
            <% if items.empty? %>
              <tr>
                <td style="background:<%= levelcolor %>">&nbsp;</td>
                <td colspan="5"><%= I18n.t('as_runcorn.significant_item.none_for_level') %></td>
              </tr>
            <% else %>
              <% @significant_items.select{|item| item['significance'] == level}.each do |item| %>
                <tr>
                  <td style="background:<%= levelcolor %>">&nbsp;</td>
                  <td style="white-space:nowrap;vertical-align:middle;">
                    <a class="btn btn-sm" href="javascript:void(0);" onClick="toggleSignificantItemDetailFor(this);">
                     <span class='glyphicon glyphicon-chevron-right'></span>
                    </a>
                  </td>
                  <td style="white-space:nowrap;vertical-align:middle;">
                    <%= QSAIdHelper.id(item['qsa_id']) %>
                  </td>
                  <td>
                    <strong><%= link_to item['label'], {:controller => :resolver, :action => :resolve_readonly, :uri => item['uri']} %></strong>
                  </td>
                  <td><%= item['format'] %></td>
                  <td><strong>
                    <% known_location = true %>
                    <% if item['current_location']['uri'] %>
                      <%= link_to item['current_location']['location'], {:controller => :resolver, :action => :resolve_readonly, :uri => item['current_location']['uri']} %>
                    <% else %>
                      <% if item['current_location']['location'] %>
                        <%= I18n.t('enumerations.runcorn_location.' + item['current_location']['location']) %>
                      <% else %>
                        <%= I18n.t('as_runcorn.significant_item.no_location_message') %>
                        <% known_location =  false %>
                      <% end %>
                    <% end %>

                    <% if known_location %>
                      <%= link_to ' ', {:controller => :significant_items,
                                        :action => :index,
                                        :series_uri => params[:series_uri],
                                        :location => (item['current_location']['uri'] || item['current_location']['location'])},
                                       :class => 'glyphicon glyphicon-chevron-right', :title => 'Filter by this location' %>
                    <% end %>
                  </strong></td>
                </tr>
                <tr class="significant_item_detail" style="display:none;">
                  <td style="background:<%= levelcolor %>">&nbsp;</td>
                  <td></td>
                  <td colspan="5" style="background:#eee;">
                    <table class="table">
                      <% ['series', 'record', 'container'].each do |fld| %>
                        <tr>
                          <td style="white-space:nowrap;"><%= I18n.t('as_runcorn.significant_item.' + fld) %>:</td>
                          <td style="white-space:nowrap;vertical-align:middle;">
                            <%= QSAIdHelper.id(item[fld]['qsa_id']) if item[fld]['qsa_id'] %>
                          </td>
                          <td>
                            <strong><%= link_to item[fld]['label'], {:controller => :resolver, :action => :resolve_readonly, :uri => item[fld]['uri']} %></strong>
                            <% if fld == 'container' %>
                              &nbsp;
                              <%= I18n.t('as_runcorn.significant_item.' + (item['functional_location'] == 'HOME' ? 'in_container' : 'not_in_container')) %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                      <tr>
                        <td><%= I18n.t("physical_representation.usage") %>:</td>
                        <td></td>
                        <td>
                          <%= link_to I18n.t('physical_representation.usage_link_label'),
                                      :controller => 'item_uses',
                                      :action => 'index',
                                      :'filter_term[]' => {"item_qsa_id_u_ssort" => item['qsa_id']}.to_json %>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".linker:not(.initialised)").linker();

    $(".linker").on("change", function() {
      if ($(this).tokenInput("get").length > 0) {
        loc_uri = $(this).tokenInput("get")[0].id;
        location.href = "/significant_items/index?location=" + loc_uri;
      }
    });
  });
</script>
