<%= setup_context(:title => I18n.t("chargeable_item._plural")) %>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_accession_record') %>
      <div class="record-toolbar">
        <div class="btn-group pull-right">
          <%= link_to I18n.t("chargeable_item._frontend.action.create"), {:controller => :chargeable_items, :action => :new}, :class => "btn btn-sm btn-default" %>
        </div>
        <br style="clear:both" />
      </div>
    <% end %>
    <div class="record-pane">
      <h2><%= I18n.t("chargeable_item._plural") %></h2>

      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="col title"><%= I18n.t('chargeable_item.description') %></th>
            <th class="col"><%= I18n.t('chargeable_item.price_dollars') %></th>
            <th class="col"><%= I18n.t('chargeable_item.charge_quantity_unit') %></th>
            <th class="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @list.each do |item| %>
            <tr>
              <td><%= item['description'] %></td>
              <td><%= item['price_dollars'] %></td>
              <td><%= I18n.t('enumerations.runcorn_charge_quantity_unit.' + item['charge_quantity_unit']) %></td>

              <td class="table-record-actions">
                <div class="btn-group">
                  <%= link_to I18n.t("actions.view"), {:controller => :resolver, :action => :resolve_readonly, :uri => item['uri']}, :class => "btn btn-xs btn-default" %>
                  <%= link_to I18n.t("actions.edit"), {:controller => :resolver, :action => :resolve_edit, :uri => item['uri']}, :class => "btn btn-xs btn-primary" %>
                </div>
              </td>

            </tr>
          <% end %>
        <tbody>
      </table>
    </div>
  </div>
</div>
