<% define_template "physical_representation", jsonmodel_definition(:physical_representation) do |form| %>
  <div class="subrecord-form-fields">

    <% if form.obj['deaccessioned'] %>
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info record-is-deaccessioned">
            <%= I18n.t('physical_representation.deaccessioned') %>
            <%= form.hidden_input "deaccessioned" %>
          </div>
        </div>
      </div>
    <% end %>

    <% if form.obj['availability'] && form.obj['calculated_availability'] && form.obj['calculated_availability'] != form.obj['availability'] && form.obj['calculated_availability_overrides_availability'] %>
      <div class="alert alert-warning">
        <p><%= I18n.t('physical_representation._frontend.messages.calculated_availability_preamble') %></p>
        <%= form.label_and_readonly "availability" %>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            <%= I18n.t('physical_representation.calculated_availability') %>
          </label>
          <div class="col-sm-9 label-only">
            <%= I18n.t("enumerations.runcorn_physical_representation_availability.#{form.obj['calculated_availability']}", :default => form.obj['calculated_availability']) %>
          </div>
        </div>
      </div>
    <% end %>

    <%= form.hidden_input "existing_ref" %>
    <%= render_aspace_partial :partial => 'shared/qsa_id_form', :locals => {:form => form, :model => :physical_representation} %>
    <%= form.label_and_textfield "title" %>
    <%= form.label_and_textarea "description" %>
    <%= form.label_and_textfield "agency_assigned_id" %>

    <% if form.readonly? && form['calculated_availability_overrides_availability'] %>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <%= I18n.t('physical_representation.availability') %>
        </label>
        <div class="col-sm-9 label-only">
          <%= I18n.t("enumerations.runcorn_physical_representation_availability.#{form.obj['calculated_availability']}", :default => form.obj['calculated_availability']) %>
          <% if form.obj['availability'] %>
            <div><small class="text-muted">Overrides availability set by archivist: "<%= I18n.t("enumerations.runcorn_physical_representation_availability.#{form.obj['availability']}", :default => form.obj['availability']) %>"</small></div>
          <% else %>
            <div><small class="text-muted">Overrides empty availability (not currently set by archivist)</small></div>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= form.label_and_select "availability", form.possible_options_for("availability", true) %>
    <% end %>

    <%= form.hidden_input "current_location", "HOME" %>
    <% if form.obj['current_location'] %>
      <%= form.label_and_readonly "current_location" %>
    <% end %>
    <%= form.hidden_input "normal_location", "HOME" %>
    <%= form.label_and_select "accessioned_status", form.possible_options_for("accessioned_status", true) %>
    <%= form.label_and_select "colour", form.possible_options_for("colour", true) %>
    <%= form.label_and_select "contained_within", form.possible_options_for("contained_within", true) %>
    <%= form.label_and_textarea "exhibition_history" %>
    <%= form.label_and_textarea "exhibition_notes" %>
    <%= form.label_and_boolean "exhibition_quality" %>
    <%= form.label_and_select "file_issue_allowed", form.possible_options_for("file_issue_allowed") %>
    <%= form.label_and_select "format", form.possible_options_for("format", true) %>
    <%= form.label_and_select "intended_use", form.possible_options_for("intended_use", true) %>
    <%= form.label_and_textfield "original_registration_date" %>
    <%= form.label_and_textarea "other_restrictions_notes" %>
    <%= form.label_and_textarea "physical_format_details" %>
    <%= form.label_and_textarea "preferred_citation" %>
    <%= form.label_and_textarea "preservation_notes" %>
    <%= form.label_and_select "preservation_priority_rating", form.possible_options_for("preservation_priority_rating", true) %>
    <%= form.label_and_textarea "processing_handling_notes" %>
    <%= form.label_and_textarea "remarks" %>
    <%= form.label_and_textarea "previous_system_identifiers" %>

    <% if !form.readonly? && form.obj['publishable'] == false %>
      <div class="form-group">
        <label class="control-label col-sm-2" for="<%= form.id_for('publish') %>">Publish?</label>
        <div class="checkbox col-sm-9">
          <input id="<%= form.id_for('publish') %>"
                 type="checkbox"
                 value="0"
                 disabled="disabled" />
          <span class="help-inline"><span class="text-muted">Record cannot be published due to RAP restriction</span></span>
        </div>
      </div>
    <% else %>
      <%= form.label_and_boolean "publish" %>
    <% end %>

    <% if form.readonly? %>
      <% if form.obj['significance'] %>
        <div class="form-group">
          <div class="control-label col-sm-2"><%= I18n.t("archival_object.significance") %></div>
          <div class="controls col-sm-10">
            <div class="label-only">
              <%= SignificanceHelper.display(form.obj['significance']) %>
              <%= I18n.t('as_runcorn.sticky_significance_message') if form.obj['significance_is_sticky'] %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="control-label col-sm-2"><%= I18n.t("physical_representation.usage") %></div>
        <div class="controls col-sm-10">
          <div class="label-only">
            <%= link_to I18n.t('physical_representation.usage_link_label'),
                 :controller => 'item_uses',
                 :action => 'index',
                 :'filter_term[]' => {"item_qsa_id_u_ssort" => form.obj['qsa_id_prefixed']}.to_json %>
          </div>
        </div>
      </div>

    <% else %>
      <%= form.label_and_select "significance", form.possible_options_for("significance") %>
      <%= form.label_and_boolean "significance_is_sticky" %>
    <% end %>

    <%= form.label_and_textfield "monetary_value" %>
    <%= form.label_and_textarea "monetary_value_note" %>

    <%= render_aspace_partial :partial => 'shared/archivist_approval_fields', :locals => {:form => form} %>

    <div class="subrecord-form-container">
      <% if form.readonly? %>
        <% if form['container']  %>
          <div class="form-group">
            <div class="control-label col-sm-2"><%= I18n.t("top_container._singular") %></div>
            <div class="controls token-list col-sm-10">
              <% ASUtils.wrap(form['container']).each do |record| %>
                <%= render_token :object => record['_resolved'],
                 :label => record['_resolved']['title'] || record['_resolved']['display_string'],
                 :type => record['_resolved']['jsonmodel_type'],
                 :uri => record['ref'],
                 :placement => "top" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <% is_container_required  = !form.obj['deaccessioned'] %>
        <% form.push("container", form.obj["container"] || {}) do %>
          <%= render_aspace_partial :partial => "top_containers/linker", :locals => {:form => form, :label => I18n.t("top_container._singular"), :required => is_container_required} %>
        <% end %>
      <% end %>
      <% unless form.readonly? && ASUtils.wrap(form.obj['extents']).empty? %>
        <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>
      <% end %>
      <% unless form.readonly? && ASUtils.wrap(form.obj['deaccessions']).empty? %>
        <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "deaccessions"} %>
      <% end %>

      <% if form.readonly? && !ASUtils.wrap(form.obj['assessments']).empty? %>
        <section class="subrecord-form-dummy">
          <h3><%= I18n.t('assessment._plural') %></h3>
          <div class="subrecord-form-container">
            <div class="subrecord-form-fields">
              <div class="controls token-list">
                <% ASUtils.wrap(form.obj['assessments']).each do |assessment_ref| %>
                  <%= render_token :label => "#{I18n.t('assessment._singular')} #{JSONModel(:assessment).id_for(assessment_ref['ref'])}",
                                   :type => 'assessment',
                                   :uri => assessment_ref['ref'],
                                   :placement => "top" %>
                <% end %>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </section>
      <% end %>

      <% if form.readonly? %>
        <%= show_plugins_for(JSONModel(:physical_representation).from_hash(form.obj, false, true), form) %>
      <% else %>
        <%= form_plugins_for("physical_representation", form, JSONModel(:physical_representation).from_hash(form.obj, false, true)) %>
      <% end %>
    </div>
  </div>
<% end %>
