<%= setup_context :object => @conservation_request, :title => @conservation_request.display_string %>

<%= form_for @conservation_request, :as => "conservation_request", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form'}.merge(update_monitor_params(@conservation_request)) do |f| %>
  <%= form_context :conservation_request, @conservation_request do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
          <%= link_to_help :topic => "conservation_request" %>
          <h2><%= @conservation_request.display_string %>  <span class="label label-info"><%= I18n.t("conservation_request._singular") %></span></h2>
          <br/>
          <%= render_aspace_partial :partial => "conservation_requests/form", :locals => {:form => form} %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= I18n.t("conservation_request._frontend.action.save") %></button>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag("subrecord.crud") %>
<%= javascript_include_tag("form") %>
<%= javascript_include_tag("dates.crud.js") %>
