<%= setup_context(:title => I18n.t("conservation_request._plural")) %>

<%
add_column(I18n.t("conservation_request.status"),
           proc {|record| record.fetch('conservation_request_status_u_sstr')[0]},
           :sortable => true, :sort_by => 'conservation_request_status_u_sstr')

add_column(I18n.t("conservation_request.reason_requested"),
           proc {|record| record.fetch('conservation_request_reason_requested_u_sstr')[0]},
           :sortable => true, :sort_by => 'conservation_request_reason_requested_u_sstr')

add_column(I18n.t("conservation_request.date_of_request"),
           proc {|record| record.fetch('conservation_request_date_of_request_u_sstr')[0]},
           :sortable => true, :sort_by => 'conservation_request_date_of_request_u_ssortdate')

add_column(I18n.t("conservation_request.date_required_by"),
           proc {|record| record.fetch('conservation_request_date_required_by_u_sstr', [])[0]},
           :sortable => true, :sort_by => 'conservation_request_date_required_by_u_ssortdate')
%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar">
      <div class="btn-group pull-right">
        <%= link_to I18n.t("actions.create"), {:controller => :conservation_requests, :action => :new}, :class => "btn btn-sm btn-default" %>
      </div>
      <br style="clear:both" />
    </div>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("conservation_request._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
