<%= setup_context :object => @conservation_request, :title => @conservation_request.display_string %>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :conservation_request, @conservation_request do |readonly| %>
        <h2><%= @conservation_request.display_string %>  <span class="label label-info"><%= I18n.t("conservation_request._singular") %></span></h2>
        <%= render_aspace_partial :partial => "form", :locals => { :form => readonly } %>

        <%= render_aspace_partial :partial => "conservation_requests/linked_records", :locals => { :id => @conservation_request.id } %>
      <% end %>
    </div>
  </div>
</div>
